\f0\fs24 \cf0 \\.classpath\
\\.project\
\\.settings/#\
\\.settings/\
\\target/\
\\.idea/\
*.iml\
*.iml
.idea
build

ShopmeWebParent/ShopmeBackend/src/main/resources/application.properties

user-photos/
