\f0\fs24 \cf0 \\.classpath\
\\.project\
\\.settings/#\
\\.settings/\
\\target/\
\\.idea/\
*.iml\
*.iml
.idea
build

ShopmeWebParent/ShopmeBackend/src/main/resources/application.properties

user-photos/

Sample\+Users\+Photos/Sample Users Photos/

Shopme\+Sample\+Users\+Data/Shopme Sample Users Data/

Shopme\+Sample\+Categories\+Data/Test\+Category\+Images/More Category Images/

ShopmeWebParent/category-images/

Shopme\+Sample\+Categories\+Data/Test\+Category\+Images/New Category Images/
