<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Search Product', 'none')" />
<body>
<div class="container-fluid">
    <div>
        <form th:action="@{/orders/search_product}" method="post" class="form-inline my-2">
            <input type="search" required class="form-control mr-sm-2" name="keyword" placeholder="product name"/>
            <input type="submit" class="btn btn-outline-success" value="Search"/>
        </form>
    </div>
</div>
</body>
</html>