<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Search Product', 'none')"/>
<body>
<div class="container-fluid">
    <div>
        <form th:action="@{/orders/search_product}" method="post" class="form-inline my-2">
            <input type="search" required class="form-control mr-sm-2" name="keyword" th:value="${keyword}"
                   placeholder="product name"/>
            <input type="submit" class="btn btn-outline-success" value="Search"/>
        </form>
    </div>

    <div class="row">
        <th:block th:each="product : ${listProducts}">
            <div class="col">
                <div>
                    <a href="">
                        <img th:src="@{${product.mainImagePath}}" height="150"/>
                    </a>
                    <br/>
                    <b>[[${product.shortName}]]</b>
                </div>
            </div>
        </th:block>
    </div>

    <div th:replace="fragments :: pagination('products')"></div>
</div>
</body>
</html>